:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Roboto", sans-serif;
  --primary-color: #c4cafc;
  --secondary-color: #3f3d56;
}

.intro-name {
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}

body {
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 50px;
  color: var(--secondary-color);
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 45px;
  color: var(--secondary-color);
}

h3 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 40px;
  color: var(--secondary-color);
}

p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
  color: var(--secondary-color);
}

.homepage-img {
  display: block;
  margin: 0 auto;
  align-items: center;
  max-width: 400px;
}

.intro-description {
  padding: 10px;
  text-align: center;
}

.about-link {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
}

.about-link:hover {
  transition: all 250ms ease-in-out;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-link {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
}

.contact-link:hover {
  transition: all 250ms ease-in-out;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
  text-decoration: none;
}

.weather-app-description {
  padding: 50px;
}

.projects-section {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  margin: 20px 20px;
  padding: 10px;
}

.project-paragraph {
  font-weight: thin;
  font-size: 20px;
  padding: 10px;
}

.project-paragraph,
.project-header {
  padding: 20px;
  color: var(--secondary-color);
}

.project-link {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
}

.project-link:hover {
  transition: all 250ms ease-in-out;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
  text-decoration: none;
}

.weather-image {
  max-width: 350px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
}

.recent-project {
  padding: 20px;
}

.learn-more {
  color: var(--secondary-color);
}

@media (max-width: 700px) {
  .weather-image {
    margin: 0 auto;
    padding: 10px;
    display: block;
    text-align: center;
    max-width: 250px;
  }
  .about-me {
    text-align: center;
    padding: 0;
  }
  p {
    text-align: center;
  }
}

.about-me {
  padding: 160px 20px;
}

.about-me h1 {
  font-size: 64px;
}

.about-me p {
  font-size: 18px;
}

.projects-button {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
}

.projects-button:hover {
  transition: all 250ms ease-in-out;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
  text-decoration: none;
}

.about-img {
  padding: 30px;
}

footer {
  text-align: center;
}
